<!-- navBar-->
<nav class="navbar navbar-light bg-light" role="navigation">
  <a class="navbar-brand" href="../">
    <img src="https://cdn3.iconfinder.com/data/icons/animals-105/150/icon_animal_leao-512.png" width="30" height="30"
      class="d-inline-block align-top" alt="">
    Spirit Animal
  </a>
  <form class="form-inline">
    <a href="../aboutUs">
      <button class="btn btn-sm btn-outline-secondary" type="button" id="aboutUs">About Us</button>
    </a>
    <a  href="https://www.symbols.com/category/13" target="_blank">
      <button class="btn btn-sm btn-outline-secondary" type="button"
        id="animalSymbolism">Animal Symbolism</button>
    </a>
  </form>
</nav>
<!--navBar end-->
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1>
        <div class="container2">
          <div class="jumbotron jumbotron-fluid" class="jumbotron">
          </div>
        </div>
      </h1>
      <br>
      <h2>
        <center>we are aimee, benjamin, garrett, marcus</center>
      </h2>
        <button id="submit" class="btn btn-lg btn-block btn-primary float-right">Submit</button>
        <!-- Footer -->
        <footer class="page-footer font-small blue">

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3" id="footer">© 2018 Copyright:
            <a href=""> SpiritanimalMatch.com</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>