<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Spirit Animal Home Page. Fill out your username below.</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="userID">Type Your Username Below:</label>
            <input type="text" id="userID" class="form-control" aria-describedby="userID" placeholder="Type Username Here">
          </div>
          <div class="form-group">
            <label for="userEmail">Email input field</label>
            <textarea class="form-control" id="userEmail" aria-describedby="userEmail" placeholder="type a vaild email here"></textarea>
          </div>
          <div class="form-group">
            <label for="userImage">Spirit animal image</label>
            <textarea class="form-control" id="userImage" aria-describedby="userImage" placeholder="type url to spirit animal image here"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Temporary Visual Representation of our database answers:</h3>
        <ul id="users-list" class="list-group">
          {{#each users}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="users/{{this.id}}">{{this.userID}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
