<!-- navBar-->
<nav class="navbar navbar-light bg-light" role="navigation">
  <a class="navbar-brand" href="../">
    <img src="https://cdn3.iconfinder.com/data/icons/animals-105/150/icon_animal_leao-512.png" width="30" height="30"
      class="d-inline-block align-top" alt="">
    Spirit Animal
  </a>
  <form class="form-inline">
    <a href="../aboutUs">
      <button class="btn btn-sm btn-outline-secondary" type="button" id="aboutUs">About Us</button>
    </a>
    <a  href="https://www.symbols.com/category/13" target="_blank">
      <button class="btn btn-sm btn-outline-secondary" type="button"
        id="animalSymbolism">Animal Symbolism</button>
    </a>
  </form>
</nav>
<!-- End navBar-->
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1></h1>
        <div class="jumbotron jumbotron-fluid" class="jumbotron" id="jumbo2">
          
              <h4 id="resultsText">Congratulations on your Spirit Animal Match!</h4
>>> master
            </form>
          </div>
        </div>
        <div>
            <h2>Your spirit animal match is: </h2>
            <img src="{{imageMatch}}">
            <h2>Their contact: {{emailMatch}}</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" id="footer">© 2018 Copyright:
      <a href=""> Spiritanimal.com</a>
    </div>
    <!-- Footer -->
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>