.list-group-item {
  line-height: 2.5;
}

.container2 {
  
}

.jumbotron{
  size: 200px;
  background: url("lion3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: absolute;
  
  
}
.overwrite {
  margin-left: 16.666667%;
}
#jumbo2 {
  size: 200px;
  background-position: absolute;
}

.navbar {
  font-family: 'Spicy Rice', cursive;
  height: 100 px;
}

body {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  background: url("african!.jpg");
  background-size: 100%;
  background-position: absolute;
 }

.instructions {
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)

}

.indexWrap {
  background-color: blanchedalmond;

}

.card {
  position: center;
  font-family: 'Spicy Rice', cursive;

}


#background-img {
  background: url("african!.jpg");
  background-size: 100%;
  background-position: absolute;
}




#msg {
  font-size: 50px;
  font-family: 'Spicy Rice', cursive;
  color: whitesmoke;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)

}



#submit {
  font-family: 'Spicy Rice', cursive;;
}

#resultsText {
  text-align: center;
    font-size: 50px;
    font-family: 'Spicy Rice', cursive;
    color: whitesmoke;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)

}

#instructions {
  font-family: 'Spicy Rice', cursive;;
  font-size: 50px;

}

#footer {
  bottom: 0;
  left: 0;
  position: center;
  text-align: center;
  margin-top: 40px;
  font-size: 15px;

}

#results {
  text-align: center;
  font-family: 'Spicy Rice', cursive;;
  font-size: 50px;
}

#imageMatch {
  font-family: 'Spicy Rice', cursive;;
  font-size: 50px;
}

#emailMatch {
  font-family: 'Spicy Rice', cursive;;
  font-size: 50px;

}

#imageSize {
  background-image: 100%;
  position: absolute;
}